<mat-toolbar class="mat-elevation-z5">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav()" data-toggle="collapse" data-target="#sideNavbar">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/Images/Logo.png" class="logo" alt="Logo">
    <span class="playfair-display-Title">AS_Ram</span>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>