<div class="skills-section">
    <h2>Skills</h2>
    <div class="skills-container">
        <mat-card class="skill-card" *ngFor="let category of skills">
            <mat-card-header>
                <mat-card-title>{{ category.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let skill of category.skills" class="individual-skill">
                    <div class="skill-info">
                        <span>{{ skill.name }}</span>
                        <span class="skill-level-text">{{ skill.level }}%</span>
                    </div>
                    <mat-progress-bar mode="determinate" [value]="skill.level" color="primary"></mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>