.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.example-card {
    width: 80%; /* Adjust as needed */
    height: 75%; /* Adjust as needed */
    display: flex;
    flex-direction: row;
}

.card-content {
    display: flex;
    height: 100%;
}

.image-section {
    flex: 0 0 40%; /* This will make sure your image section takes up 40% of the container's width */
    overflow: hidden; /* Hide the overflow */
}

.text-section {
    flex: 0 0 60%; /* This will make sure your text section takes up 60% of the container's width */
    overflow: auto; /* Add scroll if content overflows */
}

.image-section img {
    width: 100%; /* This will make sure your image is not wider than its container */
    height: 100%; /* This will make sure your image is not taller than its container */
    object-fit: contain;
}
@media screen and (max-width: 650px) {
    .example-card {
        flex-direction: column; /* Elements are stacked vertically */
        overflow: auto;
    }

    .image-section, .text-section {
        flex: 0 0 auto; /* Elements will take up as much space as they need */
        width: 100%; /* Elements will take up the full width of the container */
    }
}
