`<div class="first-section">
  <mat-card class="example-card mat-elevation-z4 hover-raise" appearance="outlined">
    <mat-card-content>
      <p>{{greetingText}}</p>
      <p>{{Name}}</p>
      <p>{{overview}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <button mat-raised-button><i class="fa-brands fa-linkedin"></i></button>
        <button mat-raised-button><i class="fa-regular fa-envelope"></i></button>
        <button mat-raised-button><i class="fa-brands fa-instagram"></i></button>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>
<div class="second-section">
  <span>
    <img src="assets/Images/My_photo.png" type="png" alt="My Photo">
  </span>
</div>