`<div class="first-section">
  <mat-card class="example-card mat-elevation-z4" appearance="outlined">
    <mat-card-content>
      <p style="font-size: 26px;">{{greetingText}}</p>
      <p class="poppins-medium">{{Name}}</p>
      <p style="font-size: 18px; text-align: justify;">{{overview}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
        <button mat-raised-button (click)="openSocial('Linkedin')"><i class="fa-brands fa-linkedin"></i></button>
        <button mat-raised-button (click)="openSocial('Github')"><i class="fa-brands fa-github"></i></button>
        <button mat-raised-button (click)="openSocial('Instagram')"><i class="fa-brands fa-instagram"></i></button>
    </mat-card-footer>
  </mat-card>
</div>
<div class="second-section">
  <span class="my_photo">
    <img src="assets/Images/My_photo.png" type="png" alt="My Photo">
  </span>
</div>